body{
    background-color: black;
}
.currentEvents{
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 15px;
}
.currentEvents img{
    float: left;
    margin-right: 60px;
    height: 200px;
}
h3{
    text-align: center;
    background-color: white;
    margin: 20px;
    font-weight: bold;
    font-family: monospace;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    text-align: center;

}
.columnart{
    float: left;
    width: 325px;
    margin-left: 50px;
    position: relative;
    background-color: gray;
    margin-top: 20px;
}
.columnshowingart{
    text-align: center;
    display: none;
    float: left;
    width: 325px;
    margin-left: 50px;
    margin-top: 20px;
}
.columnmusic{
    float: left;
    width: 325px;
    margin-left: 50px;
    position: relative;
    background-color: gray;
    margin-top: 20px;
}
.columnshowingmusic{
    text-align: center;
    display: none;
    float: left;
    width: 325px;
    margin-left: 50px;
    margin-top: 20px;
}
.columnsports{
    float: left;
    width: 325px;
    margin-left: 50px;
    position: relative;
    background-color: gray;
    margin-top: 20px;
}
.columnshowingsports{
    text-align: center;
    display: none;
    float: left;
    width: 325px;
    margin-left: 50px;
    margin-top: 20px;
}

.columnsports img{
    width: 100%;
}
.columnsports:hover .image{
    opacity: 0.5;
}
.columnsports:hover .hold{
    opacity: 1;
}
.hold {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.columnmusic img{
    width: 100%;
}
.columnmusic:hover .image{
    opacity: 0.5;
}
.columnmusic:hover .hold{
    opacity: 1;
}
.hold {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.columnart img{
    width: 100%;
}
.columnart:hover .image{
    opacity: 0.5;
}
.columnart:hover .hold{
    opacity: 1;
}
.hold {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.text{
    border: 2px solid white;
    padding: 5px;
}
.art .column{
    margin-left: 15px;
}
.upcoming{
    /* background-size: contain; */ 
    margin-top: 20px;
    background-image: url("../images/back.jpeg"); 
    /* background-color: gray; */
} 
.card{
    text-align: center;
    size: inherit;
    background-attachment: scroll;
    background-image: url("../images/back.jpeg"); 
    /* background-size: contain; */
    /* background-color: gray; */
}
h2{
    text-align: center;
    color:black;
    background-color: white;
}
.card-text{
    background-color: lightpink;
}
.card img{
    width: 100%;
    height: 300px;
}
.reviews{
    border: 2px solid black;
    margin: 10px;
    background-color: white;
}
form{
    text-align: center;
    background-image: url("../images/comments.jpg");
    color: white;
}
.reviews input{
    margin: 8px;
    background-color: transparent;
}
.reviews textarea{
    background-color: transparent;
}
.reviews ::placeholder{
    color: white;
}
.actualComments{
    margin-left: 40px;
    margin-right: 40px;
}
.actualComments h5{
    text-align: center;
}
.actualComments li{
   font-size: 14px;
   background-color: #B0B8B0;
}
#name{
    color: white;
}
#email{
    color: white;
}
#comment2{
    color: white;
}