.intro {
  padding: 250px;
  background-image: url("IMG/photo-1533174072545-7a4b6ad7a6c3.jpeg");
  color: white;
}

h1 {
  color: yellow;
}

h3 {
  color: green;
}

img {
  height: 40px;
}

::placeholder{
  color: black;
}

.events {
  padding: 75px;
}

#musicEvents {
  padding: 75px;
  background-image: url("IMG/music.jpeg");
}

#artsEvent {
  padding: 75px;
  background-image: url("IMG/art.jpeg");
}

#sportsEvent {
  padding: 75px;
  background-image: url("IMG/sports.jpeg");
}

#aboutus {
  padding: 75px;
}

#contact p {
  text-align: left;
}

#contact h3 {
  text-align: left;
}

.media img{
  padding-left : 10px;
  padding-right : 10px;
}

.media{
  padding-top: 35px;
  padding-left : 37.5%;
}

.end{
  font-size: 3mm;
}

.columnshowing {
  display: none;
}