body {
  background-image: url("IMG/photo-1533174072545-7a4b6ad7a6c3.jpeg");
  color: white;
  text-align: center;
  
}

.navbar #search {
  background-color: black;
}

.navbar{
  background-color: maroon;
  background-image: none;
  position: sticky;
  color: blue;
}

.navbar img {
  height: 35px;
  width: auto;
}

.navbar .row {
  width: 50%;
  margin-right: 10px;
  margin-left: auto;
}

.contact p {
  text-align: left;
}

.media img{
  padding-left : 10px;
  padding-right : 10px;
}

.media{
  padding-top: 35px;
  padding-left : 37.5%;
}

.end{
  font-size: 3mm;
}